header {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;    
    nav {
        text-align: end;
        padding-top: 2%;
        a {
            color: $white;
            padding-right: 3%;
            transition: ease 300ms all;
            &:hover {
                color: $white;
            }
        }
    }
    img {
        padding-top: 10px;
    }
    .textos {
        margin: 5% 0;
        color: $white;
        text-align: center;
        h1 {
            font-weight: 100;
        }
        h4 {
            font-weight: 300;
        }
    }
    .enlaces {
        margin: 5% 0;
        a {
            display: inline-block;
            margin: 0 1%;
            color: $white;
            padding: 1% 5%;
            border: 1px solid $white;
        }
    }
}