@media screen and (max-width: 992px) {
    /*Header*/
    header {
        nav {
            text-align: center;
        }
        .logo {
            text-align: center;
        }
        .textos {
            h1 {
                font-size: 20px;
            }
            h4 {
                font-size: 18px;
            }
        }
    }
    /*Footer*/
    footer {
        .contacto {
            text-align: center;
        }
    }
}

@media screen and (max-width: 768px) {
    /*Main*/
    .galeria {
       h5 {
           padding-bottom: 0;
           font-size: 14px;
       }
       p {
           font-size: 0.9em;
       }
    }
}