//// @access public
//// @author Vanesa R

/// Definiendo colores
/// @group colores
$blue: #577590;

/// @group colores
$orange: #F8961E;

/// @group colores
$green: #90BE6D;

/// @group colores
$white: #ffffff;

/// @group colores
$grey: #313131;

/// @group colores
$black: #000000;

/// @group colores
$facebook: #3b5998;

/// @group colores
$twitter: #00ACEE;

/// @group colores
$youtube: #C4302B;